## Exercise 2: Pickle
This exercise should help you to understand, how Pickle works, what serialization and deserialization is and how you can store and load data using Pickle

In [1]:
# import neccessary packages here
import pickle

### a) Download file and load it into Python
Download the file https://www.kaggle.com/jiashenliu/515k-hotel-reviews-data-in-europe?select=Hotel_Reviews.csv and load it into a Pandas DataFrame. User the code "import pandas; df = pandas.read_csv(file)"

In [4]:
# your code goes here
import pandas
file = "iris.csv"
csv_file = pandas.read_csv(file)

### b) Serializing
Serialize the object with pickle and store it to the file system. Compare the size of the original and the serialized data.

In [9]:
# your code goes here
small_file = open("small.pickle", 'ab')
pickle.dump(csv_file, small_file)
small_file.close()

### c) Deserializing
Load the serialized object into Python and show the first few rows using "df.head()"

In [10]:
# your code goes here
small_file = open("small.pickle", 'rb')
csv_file_new = pickle.load(small_file)
csv_file_new.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### d) Deserializing multiple objects
Download objects.zip from elearning and unpack it. There are multiple serialized objects in the folder. Load them to Python, get the type of the object and print its value or analyze its function.

In [ ]:
# your code goes here